<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/vincentpacheco/image/upload/v1601986583/Canet-Plage_-_Vue_ae%CC%81rienne_1_1_gi9wgk.jpg);">
  <div class="container">
    <h1>Découvrez Canet.</h1>
    <p>Charmant studio tout équipé pour deux personnes.</p>
    <%= link_to "Contactez nous", contactus_url, class: "btn btn-flat" %>
  </div>
</div>
